<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Mulish:wght@300;500;800&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/af55968fff.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/output.css">
    <title>Chefcito+</title>
</head>
<body>
    <header class="bg-blue-200 flex justify-center content-center text-center p-4">
        <img src="/assets/img/dish.png" alt="dish-image" class="w-5 h-5 "> 
        <h1 class="text-4xl">Chefcito+</h1>
    </header>
    <main>
        {{{body}}}
    </main>
</body>
</html>