<div class="text-center bg-slate-400">
  <h1 class="text-3xl text-white"><a href="/dashboard">Your Dashboard</a></h1>
  {{#each recipes as |recipe|}}
  <div>
    <h1>{{recipe.recipe_name}}</h1>
    <p>Ingredientes:
      {{recipe.ingredients}}
    </p>
    <p>Preparacion:
      {{recipe.recipe}}
    </p>

  </div>
  {{/each}}
  <a class="text-white" href="/newRecipe">➕ New Post</a>
</div>