<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Include a Google Fonts stylesheet for IBM Plex Sans font -->
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap" rel="stylesheet">
  <!-- Include Tailwind CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css">
  <!-- Include a custom stylesheet for styling -->
  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="bg-gray-100">
  <!-- Create a navigation bar -->
  <nav class="bg-blue-500 p-4">
    <ul class="flex flex-row space-x-4">
      <!-- Define navigation links -->
      <li class="nav-item"><a class="text-black" href="/">Home</a></li>
      <li class="nav-item"><a class="text-black" href="/dashboard">Dashboard</a></li>
      <li class="nav-item"><a class="text-black" href="#" id="logout-link">Logout</a></li>
    </ul>
  </nav>
  <!-- Create a header section -->
  <header class="bg-blue-200 p-4">
    <!-- Display the application title as a link to the dashboard -->
    <h1 class="text-4xl text-center"><a href="/dashboard">Your Dashboard</a></h1>
  </header>

  <!-- Create a main content area with dynamic content -->
  <main class="container mx-auto p-4">
    {{{body}}}
  </main>

  <!-- Create a footer section with a link to create a new post -->
  <footer class="bg-blue-500 p-4 text-center">
    <a class="text-black" href="/dashboard/new">➕ New Post</a>
  </footer>
</body>

<!-- Include JavaScript files for logout, edit, and delete functionality -->
{{!-- <script src="/js/logout.js"></script>
<script src="/js/edit.js"></script>
<script src="/js/delete.js"></script> --}}

</html>