<div class="flex align-middle justify-center m-0 p-0">
    <div class="max-w-lg my-6 bg-slate-600 p-6 rounded-lg w-2/4">
        <div id="login" class="text-center">
            <div class="text-lg text-center text-white pb-2">
                Favorites
            </div>
            <ul>
                <li>hola</li>
                <li>hola</li>
            </ul>
        </div>
        <div class="inferior text-white">
            <a href="/dashboard" class="mt-2">Go back</a>
        </div>
    </div>
</div>